section{
    margin:0 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin:50px 0;
}

.clock-section h1,.clock-section h2{
    font-size: 50px;
    color: #424242;
    margin: 0;
    padding: 0 5px;
    font-weight: bold;
}
.clock-section h2 {
    font-size: 55px;
    color: #848484;
}
